@font-face {
    font-family: Comfortaa;
    src: url(../assets/Comfortaa-Regular.woff);
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: Comfortaa;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 60px 0px;
    align-items: center;
}

button{
    font-family: Comfortaa;
    font-size: 16pt;
    background-color: black;
    opacity: 80%;
    color: white;
    border: 3px solid white;
    transition: ease 0.25s;
    
}

button:hover{
    cursor: pointer;
    border-color: red;
    transition: ease 0.25s;
}

button#change-page-btn{
    padding: 1em;
    border-radius: 10px;
    width: 75%;
    z-index: 21;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 4px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 40px;
    max-width: 60dvw;
    z-index: 1;
    background-color: black;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 0.5em 0;
}

h5{margin-top:0;}

p, li {
    font-size: 18px;
    line-height: 1.5em;
}

a{color:white;}
a:hover{color:#AAA;}

.hidden-link{text-decoration: none;}
.hidden-link:hover{color: white;}

ul{padding: 0px;}

li{
    text-align: center;
    list-style-type: none;
}

.text-block {padding: 1em 0em;}

@media screen and (width < 24rem) {
    .text-box {
        max-width: 70dvw;
        padding: 30px 20px;
    }
    h1{font-size: 24px;}
    h2{font-size: 20px;}
    p,li{font-size: 16px;}
}

@media screen and (width < 18rem) {
    .text-box {
        max-width: 80dvw;
        padding: 20px 10px;
    }
    h1{font-size: 20px;}
    h2{font-size: 17px;}
    p,li {font-size: 14px;}
}

.text-lblue {color: #5bcefa;}
.text-pink {color: #f5a9b8;}

.trans-gradient {
    background: linear-gradient(to right, #5bcefa, #f5a9b8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.corner-btns{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
}

.corner-btns button{
    width: 50px;
    height: 50px;
    border: 3px solid white;
}

.corner-btns button:hover{
    position: relative;
    margin: 1px;
    width: 48px;
    height: 48px;
    color: #DDD;
    border-color: #DDD;
}

.corner-btns button:active{
    position: relative;
    margin: 2px;
    width: 46px;
    height: 46px;
    color: #DDD;
    border-color: #DDD;
}

.corner-btns .btn-enabled{
    &:before {
        position: absolute;
        content: '';
        left: 25px;
        top: 45%;
        right: 25px;
        border-top: 4px solid;
        border-color: red;
        -webkit-transform: skewY(-45deg);
        -moz-transform: skewY(-45deg);
        transform: skewY(-45deg);
        transition-duration: 0.4s;
    }
}


.corner-btns .btn-enabled:hover {
    &:before {
        left: 0;
        right: 0;
        transition-duration: 0.4s;
    }
}

.corner-btns .btn-disabled{
    &:before {
        position: absolute;
        content: '';
        left: 3px;
        top: 45%;
        right: 3px;
        border-top: 4px solid;
        border-color: red;
        -webkit-transform: skewY(-45deg);
        -moz-transform: skewY(-45deg);
        transform: skewY(-45deg);
        transition-duration: 0.4s;
    }
}

.corner-btns .btn-disabled:hover {
    &:before {
        left: 25px;
        right: 25px;
        transition-duration: 0.4s;
    }
}