@font-face{
    font-family: Comfortaa;
    src: url(assets/Comfortaa-Regular.woff);
}

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: Comfortaa;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 4px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 40px;
    max-width: 60dvw;
    z-index: 1;
}

h1{
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 1.5em;
}

@media screen and (width < 24rem) {
    .container{
        max-width: 70dvw;
        padding: 30px 20px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 16px;
    }
}

@media screen and (width < 18rem) {
    .container{
        max-width: 80dvw;
        padding: 20px 10px;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }
}


.text-lblue{
    color: #5BCEFA
}

.text-pink{
    color: #F5A9B8
}

.trans-gradient{
    background: linear-gradient(to right, #5BCEFA, #F5A9B8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ee-btn{
    position: fixed;
    background-color: black;
    border: none;
    width: 50px;
    height: 50px;
    top: 100px;
    left: 100px;
}

#ee-btn:hover{
    cursor:pointer;
    border: 2px outset #222222;
}

#ee-btn:active{
    cursor:pointer;
    border: 3px inset #222222;
}

#ee-bg{
    opacity: 0;
    position: fixed;
    max-height: 80dvh;
}

.ee-ani {
    -webkit-animation: fadeinout 5s ease forwards;
    animation: fadeinout 5s ease forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    50% { opacity: 0.2; }
}

@keyframes fadeinout {
    50% { opacity: 0.2; }
}